[phases.setup]
aptPkgs = ["libcairo2", "pkg-config", "python3-dev", "gcc"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "uvicorn backend.main:app --host 0.0.0.0 --port $PORT"
